@model CityWeather?

@if (Model != null)
{
    <div class="w-100 margin-top-200">
        <table class="table w-25 margin-auto">
            <tbody>
            <tr>
                <td class="w-50">
                    <h3>@Model.CityName</h3>
                    <p class="text-grey">@Model.DateAndTime.ToString("dd MMM yyyy")</p>
                    <p class="text-grey">@Model.DateAndTime.ToString("t")</p>
                </td>
                <td class="w-50 border-left">
                    <div class="margin-left">
                        <h3 class="text-lg-center inline-block">@Model.TemperatureFahrenheit</h3>
                        <sup><span class="text-grey">&#8457;</span></sup>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-center">
                        <p>
                            <a href="/">Back to Weather Home Page</a>
                        </p>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else 
{
    <p>No city data found</p>
}